@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common-style */
body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
    margin: 0 auto;
}

.container{
   background-color: #FFFFFF;
   width: 870px;
   padding: 30px;
   margin-top: 21px;
   border-radius: 5px;
   
}
.section-title{
    color: #562EFF;
    font-size: 24px;
        margin-top: 3px;}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 40px;
}

/* Nvbar style */
nav{
    background-color: 
    #562EFF;
    height: 94px;
    

}
.nav-container{
    width:920px ;
    display: flex;
    margin:auto;
    justify-content: space-between;
    align-items: center;
    
}
.nav-logo-title{
    display: flex;
    align-items: center;
    gap: 16px;

}
.nav-logo{
    width: 40.42px;
height: 51px;
}
.nav-title{
    font-size: 24px;
    color: #FFFFFF;
}
.nav-menu{
    display: flex;
    gap: 36px;

}
.menu-list{
    list-style-type: none;
    display: flex;
    gap: 36px;

}
.menu-list li{

}
 .menu-list a{
    text-decoration: none;
    color: #FFFFFF; 

    
}
.login-image{
    width: 51px;
height: 51px;
}

/* Top players style */
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.top-player{
    margin-bottom: 30px;

}


.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:30px;

}


.player{
    display: flex;
    gap: 10px;
    align-items: center;

}
.player img{
    width: 56px;
    height: 56px;
}
.player h3{
    font-size: 18px;
}

/* blog style */

.blogs{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap:30px;
}
.blog{
    display: flex;
}
.blogs .thumbnail img{
    width: 177px;
height: 117px;
}

.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}

.blog-author{
    font-size: 16px;
    color: #9F9F9F ;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
}
/* courses style */
.course .course-banner img{
    width: 224px;
height: 104px;
}

.courses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-column-gap:24px;
    
}

.course{
    width: 253px ;
    padding: 0 7px 33px 12px;

    /* filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.05)); */
    border-radius: 20px;
    box-shadow: 2px 2px 4px gray;
    
    
}

.course-info{
    display: flex;
    justify-content: space-between;
    
}
.course-author{
    color: #ED6B4F;
}
.gold-star{
    color: 
    #FFC014;
}
.blank-star{
    color: 
    #AEAEAE;
}

/* nav-toggle */
 .nav-toggle{
    height: 32px;
    width: 44px;
    background-color: #FFFFFF;
    display: none;
 }
 .nav-toggle:focus{
    box-shadow: 0 0 15px rgba(255,255,255,0.6);
 }
 .nav-toggle span{
    height: 2px;
    width: 20px;
    background-color: #562EFF;
    display: block;
    margin: auto;
    position: relative;
 }

 .nav-toggle span::after,
 .nav-toggle span::before{
    content: "";
    background-color: #562EFF;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;

 }

 .nav-toggle span::after{
    transform: translateY(-6px);
 }
 .nav-toggle span::before{
    transform: translateY(6px);
 }








 /* Responsive style- Media Queries */

@media only screen   and (max-width:688px) {
    body{
        background: none;
    }
    .container{
        width: 100%;
    }
    .players{
        
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs, .courses{
        grid-template-columns: 1fr;
    
    }
  
    .course{
        box-shadow: none;
        border-radius: none;
        grid-column-gap:10px;
        
    }
    .section-title, .blogs, .courses, .top-player{
        margin-left: 10px;
    }

    .nav-toggle{
        display: block;
    }

    .nav-menu{

        overflow: hidden;
        visibility: hidden;
    }

    .nav.open{
        visibility: visible;
    }
    .nav .menu-list{
        padding: 12px 15px;
        margin-top: 12px;
        border-top: 1px solid rgba(255,255,255,0.6);
    }

    .nav .menu-list li{
        display: block;
        margin: 0;
    }


    
  
}

